.App {

}


/* Track */
::-webkit-scrollbar{
    width: 15px;
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(165, 158, 158); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 198, 198); 
  }